<div class="buyArea">
  <div class="subheader">
    <div class="row">
      <div>Account: <%=account.number%></div>
      <div>
        Total Value:
        <%=account.totalValue.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,')%>
      </div>
    </div>
    <br />
    <div class="row">
      <div>
        Buying Power: <%=account.cash.toFixed(2).replace(/\d(?=(\d{3})+\.)/g,
        '$&,')%>
      </div>
      <div>
        Market Value:
        <%=account.marketValue.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,')%>
      </div>
    </div>
  </div>

  <div>graph</div>

  <img src="https://i.imgur.com/EFqRbev.png" alt="stonks" />
  <P> </P>
  <p></p>
  <h1>Buy</h1>
  <form class="buyForm" action="/trade/buy/quote" method="post">
    <div class="sellDropDown">
      <label for="symbol">Symbol</label>
      <input
        class="sellDropDown"
        type="text"
        onkeyup="this.value = this.value.toUpperCase();"
        list="symbol"
        name="symbol"
        id="symbol"
      />
    </div>
    <div class="sellDropDown">
      <label for="shares">Shares</label>
      <input
        required
        type="number"
        name="shares"
        placeholder="shares"
        min="1"
        class="sellDropDown"
      />
    </div>
    <button class="sellDropDown" type="submit">quote</button>
  </form>
  <p></p>
</div>
