<div class="everything">
  <div class="top">
    <div class="topRow">
        <div>
            Buying Power: <%=account.cash.toFixed(2).replace(/\d(?=(\d{3})+\.)/g,
            '$&,')%>
        </div>
        <div>
          Market Value:
          <%=account.marketValue.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,')%>
        </div>
        <div>
            Net Value: <%=account.totalValue.toFixed(2).replace(/\d(?=(\d{3})+\.)/g,
            '$&,')%>
        </div> 

      </div>
  </div>

  <div class="wrapper">
    <div class="leftWrapper">
    <div class="bottomForm">
      
      <form id="buy-form" class="buy-form" action="/trade/buy/quote" method="post">
        <h1>Buy</h1>
        <div class="form-input-material">
          <span class="center" for="symbol">Symbol</span>
          <!-- //help here -->
          <input
            class=""
            type="list"
            onkeyup="this.value = this.value.toUpperCase();"
            list="symbol"
            name="symbol"
            id="symbol"
            placeholder="<%=symbol%>"
            autocomplete="off"
            
          />
          <datalist id="symbol">
            <option value="BTC"></option>
            <option value="ETH"></option>
          </datalist>
        </div>
        <div class="form-input-material">
          <label class="center" for="shares">Shares</label>
          <input
            
            required
            type="number"
            name="shares"
            min="0"
            placeholder="Shares"
            step="0.0001"
            class="sellDropDown"
            id="buyInput"
            autocomplete="off"
            />
            
          
        </div>
        
        <button type="submit" class="btn btn-primary btn-ghost buttonTest">
          Quote
        </button>
      </form>
    </div>
    <div>
      <div class="quoteTable buyholder">
        <div><h5>Popular Symbols</h5></div>
        ETH, BTC, DOT, UNI, DOGE, XRP, SHIB, LUNA, ADA, SOL, MATIC, DAI, ATOM, LTC, LINK, TRX, XLM, NANO, XMR, VET, ZEC, EOS, MKR
  </div>
    </div>
  </div>
    <div class="buyArea ">
      
      

    <div class="chart">
      <script
        type="text/javascript"
        src="https://s3.tradingview.com/tv.js"
      ></script>
      <script type="text/javascript">
        new TradingView.widget({
          autosize: true,
          symbol: "KRAKEN:ETHUSD",
          interval: "H",
          timezone: "Etc/UTC",
          theme: "Dark",
          style: "1",
          locale: "en",
          toolbar_bg: "#f1f3f6",
          enable_publishing: false,
          hide_side_toolbar: true,
          allow_symbol_change: true,
          details: true,
          hideideas: true,
          studies: ["MASimple@tv-basicstudies"],
          show_popup_button: true,
          popup_width: "700",
          popup_height: "500",
        });
      </script>
    </div>
    </div>
    <P> </P>
    </div>
    </div>
    </div>
  </div>
  </div>