<div class="everything">
  <div class="top">
    <div class="topRow">
        <div>
            Buying Power: <%=account.cash.toFixed(2).replace(/\d(?=(\d{3})+\.)/g,
            '$&,')%>
        </div>
        <div>
          Market Value:
          <%=account.marketValue.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,')%>
        </div>
        <div>
            Net Value: <%=account.totalValue.toFixed(2).replace(/\d(?=(\d{3})+\.)/g,
            '$&,')%>
        </div> 

      </div>
  </div>

  <div class="wrapper">
    <div class="leftWrapper">
    <div class="bottomForm">
      
      <form id="buy-form" class="buy-form" action="/trade/buy/quote" method="post">
        <h1>Buy</h1>
        <div class="form-input-material">


          <label for="symbol">Symbol:</label>
  <input list="browsers" name="symbol" id="symbol" placeholder="<%=symbol%>" autocomplete="off" onkeyup="this.value = this.value.toUpperCase();" />
            
  <datalist id="browsers">
    <option value="BTC"></option>
    <option value="ETH"></option>
    <option value="NANO"></option>
    <option value="DOGE"></option>
    <option value="DOT"></option>
    <option value="SOL"></option>
    <option value="DOT"></option>
    <option value="SHIB"></option>
    <option value="MATIC"></option>
    <option value="DAI"></option>
    <option value="LTC"></option>
    <option value="EOS"></option>
    <option value="MKR"></option>
    <option value="ENJ"></option>
    <option value="DASH"></option>
    <option value="XRP"></option>
    <option value="BAT"></option>
    <option value="LRC"></option>
    <option value="LUNA"></option>
    <option value="USDT"></option>
    <option value="USDC"></option>
    <option value="ADA"></option>
    <option value="AVAX"></option>
    <option value="UST"></option>
    <option value="ATOM"></option>
    <option value="LINK"></option>
    <option value="TRX"></option>
    <option value="UNI"></option>
    <option value="ALGO"></option>
    <option value="XLM"></option>
    <option value="XMR"></option>
    <option value="SAND"></option>
    <option value="WAVES"></option>
    <option value="XTZ"></option>
    <option value="KSM"></option>
    <option value="ICX"></option>
    <option value="QTUM"></option>
    <option value="OMG"></option>
    <option value="ZRX"></option>
    <option value="STORJ"></option>
    <option value="SUSHI"></option>
    <option value="SC"></option>
    <option value="ANT"></option>
    <option value="REP"></option>
    <option value="NANO"></option>
    <option value="KIN"></option>
    <option value="FIL"></option>
    <option value="GRT"></option>
    <option value="AAVE"></option>
    <option value="COMP"></option>    
    <option value="ANKR"></option>
    <option value="BNT"></option>
    <option value="KNC"></option>
    <option value="LSK"></option>
 
  </datalist>


          
        </div>
        <div class="form-input-material">
          <label class="center" for="shares">Shares</label>
          <input
            
            required
            type="number"
            name="shares"
            min="0"
            placeholder="Shares"
            step="0.0001"
            class="sellDropDown"
            id="buyInput"
            autocomplete="off"
            />
            
          
        </div>
        
        <button type="submit" class="btn btn-primary btn-ghost buttonTest">
          Quote
        </button>
      </form>
    </div>
    <div>
      <div class="quoteTable buyholder">
        <div><h5>Popular Symbols</h5></div>
        ETH, BTC, DOT, UNI, DOGE, XRP, SHIB, LUNA, ADA, SOL, MATIC, DAI, ATOM, LTC, LINK, TRX, XLM, NANO, XMR, VET, ZEC, EOS, MKR
  </div>
    </div>
  </div>
    <div class="buyArea ">
      
      

    <div class="chart">
      <script
        type="text/javascript"
        src="https://s3.tradingview.com/tv.js"
      ></script>
      <script type="text/javascript">
        new TradingView.widget({
          autosize: true,
          symbol: "KRAKEN:ETHUSD",
          interval: "H",
          timezone: "Etc/UTC",
          theme: "Dark",
          style: "1",
          locale: "en",
          toolbar_bg: "#f1f3f6",
          enable_publishing: false,
          hide_side_toolbar: true,
          allow_symbol_change: true,
          details: true,
          hideideas: true,
          studies: ["MASimple@tv-basicstudies"],
          show_popup_button: true,
          popup_width: "700",
          popup_height: "500",
        });
      </script>
    </div>
    </div>
    <P> </P>
    </div>
    </div>
    </div>
  </div>
  </div>