<style>
  section {
    width: 100%;
    max-width: 1200px;
    margin: 0px auto;
    display: table;
    position: relative;
  }

  header {
    width: 100%;
    display: table;
    background-color: #fde428;
    margin-bottom: 50px;
  }
  #logo {
    float: left;
    font-size: 24px;
    text-transform: uppercase;
    color: #002e5b;
    font-weight: 600;
    padding: 20px 0px;
  }
  nav {
    width: auto;
    float: right;
  }
  nav ul li {
    float: left;
  }
</style>
<header>
  <section>
      <span class="leftNav">
    <a id="logo" href="/">&nbsp; &nbsp;DCrypto</a>
    <nav>
      <ul>
        <li>
          <a href="/trade/quote">Quote</a>
        </li>
        <li>
          <a href="/trade/buy">Buy</a>
        </li>
        <li>
          <a href="/trade/sell">Sell</a>
        </li>
        <li>
          <a href="/trade/history">History</a>
        </li>
        <li>
          <a href="/">Overview</a>
        </li>
        </span>
        <span class="rightNav">
          <li>
            <span class="name">
              <% if(currentUser){ %>
              <a href="/">
                <%=currentUser.firstName%> <%=currentUser.lastName%></a
              >
            </span>
          </li>
          &nbsp; &nbsp; &nbsp;
          <li><a href="/auth/logout">Sign Out</a></li>
          <%} else { %>
          <li><a href="/auth/signin">Sign In</a></li>
          <li><a href="/auth/signup">Sign Up</a></li>
          <%}%>
        </span>
      </ul>
    </nav>
  </section>
</header>
