<style>
  section {
    width: 100%;
    max-width: 1200px;
    margin: 0px auto;
    display: table;
    position: relative;
  }

  header {
    width: 100%;
    display: table;
    background-color: #fde428;
    margin-bottom: 50px;
  }
  #logo {
    float: left;
    font-size: 24px;
    text-transform: uppercase;
    color: #002e5b;
    font-weight: 600;
    padding: 20px 0px;
  }
  nav {
    width: auto;
    float: right;
  }
  nav ul li {
    float: left;
  }
</style>

Img Test:
<!-- <img src="../../node_modules/crypto-icons-plus-64/src/btc.png" alt=""> -->

<img src="/icons/doge.png" alt="" />

<h1>The datalist element</h1>

<form action="/action_page.php" method="get" autocomplete="off">
  <label for="browser">Choose your browser from the list:</label>
  <input list="browsers" name="browser" id="browser" />
  <datalist id="browsers">
    <option value="Edge"></option>
    <option value="Firefox"></option>
    <option value="Chrome"></option>
    <option value="Opera"></option>
    <option value="Safari"></option>
  </datalist>

  <input type="submit" />
</form>
