<h1><%=welcomeMessage %></h1>
<div class="buyArea">
  <div class="subheader">
    <div class="row">
      <div>Account: <%=currentUser.accountNum%></div>
      <div>Total Value:</div>
    </div>
    <br />
    <div class="row">
      <div>Buying Power</div>
      <div>Total Value:</div>
    </div>
  </div>
</div>
<table>
  <tr>
    <th>Equity</th>
    <th>Symbol</th>
    <th>Average Cost</th>
    <th>Shares</th>
    <th>Market Price</th>
    <th>Market Value</th>
    <th>Change</th>
    <th>Quick Menu</th>
  </tr>
  <tr>
    <td>Andvanced Micro Devices</td>
    <td>AMD</td>
    <td>100</td>
    <td>10</td>
    <td>106</td>
    <td>1060</td>
    <td>60</td>
    <td>=></td>
  </tr>
</table>
