<div class="buyArea">
  <div class="subheader">
    <div class="row">
      <div>Account: <%=currentUser.accountNum%></div>
      <div>Total Value: <%=account.totalValue%></div>
    </div>
    <br />
    <div class="row">
      <div>Buying Power: <%=account.cash%></div>
      <div>Market Value: <%=account.marketValue%></div>
    </div>
  </div>
</div>
<p></p>
<p></p>
<h1 class="center">Account Summary</h1>
<p></p>
<p></p>
<div class="summary">
  <table class="summaryTable table table-striped">
    <tr>
      <th>Equity</th>
      <th>Symbol</th>
      <th>Shares</th>
      <th>Avg Cost</th>
      <th>Mkt Price</th>
      <th>Mkt Value</th>
      <th>Change</th>
      <th></th>
    </tr>
    <tr>
      <td>Andvanced Micro Devices</td>
      <td>AMD</td>
      <td>10</td>
      <td>100</td>
      <td>106</td>
      <td>1060</td>
      <td>60</td>
      <td>
        <div class="dropdown">
          <button class="dropbtn">⇓</button>
          <div class="dropdown-content">
            <a href="/trade/buy">Buy</a>
            <a href="/trade/sell">Sell</a>
          </div>
        </div>
      </td>
    </tr>
  </table>
</div>
