<h1><%=welcomeMessage %></h1>
<div class="buyArea">
  <div class="subheader">
    <div class="row">
      <div>Account: <%=currentUser.accountNum%></div>
      <div>Total Value:</div>
    </div>
    <br />
    <div class="row">
      <div>Buying Power</div>
      <div>Total Value:</div>
    </div>
  </div>
</div>
